html,body,div,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote{margin:0;padding:0;}
img,body,html{border:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
form > fieldset{border:0;}

:focus
{
	outline: none;
	box-shadow: 0 0 1px 1px #6dcaf3;
}

body
{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333444;
	line-height: 1.9;
}

.color-blue-light
{
	color: #6dcaf3;
}

a
{
	text-decoration: none;
	color: #27459b;
}

a:hover
{
	text-decoration: none;
	color: #6dcaf3;
}

p
{
	font-size: 16px;
}

h1{font-size:38px}
h2{font-size:32px}
h3{font-size:28px}
h4{font-size:26px}
h5{font-size:24px}
h6{font-size:22px}

label.error
{
	display: block;
	color: #cb0000;
}

header
{
	padding: 20px 0;
}

.width-content
{
	max-width: 1024px;
	margin: auto;
}

.logo
{
	display: inline-block;
	vertical-align: middle;
}

.logo img
{
	display: block;
	max-width: 80px;
	max-height: 80px;
}

.menu
{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
}

.head-menu
{
	display: inline-block;
	font-size: 16px;
}

.head-menu-element
{
	display: inline-block;
	margin: 5px 15px;
}

.main-content
{
	padding: 10px 0;
}

.styleform-wrap
{
	margin: -35px auto;
}

.styleform
{
	margin: 35px auto;
}

.group-checkbox
{
	margin: -2px -10px;
}

.group-checkbox > *
{
	margin: 2px 10px;
}

.group-radio
{
	margin: -2px -10px;
}

.group-radio > *
{
	margin: 2px 10px;
}

.group-select-wrap
{
	margin: -25px -10px;
}

.group-select
{
	margin: 25px 10px;
}

.sf-form
{
	margin-bottom: 90px;
}

footer
{
	margin-top: 55px;
	padding: 40px 0;
	background: #333444;
	color: #ffffff;
}

.foot-wrap
{
	font-size: 0;
	margin: -5px -20px;
	text-align: justify;
	text-justify: distribute;
}

.foot-wrap:after
{
	content: "";
	display: inline-block;
	width: 100%;
}

.foot-wrap > *
{
	margin: 5px 20px;
}

.left-foot
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
}

.right-foot
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	margin: -5px -10px;
}

.foot-menu
{
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	padding: 0;
}

.foot-menu li
{
	display: inline-block;
	margin: 5px 10px;
}


.foot-menu-anchor
{
	color: #ffffff;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.foot-menu-anchor:hover
{
	color: #6dcaf3;
}

.to-top
{
	vertical-align: middle;
	height: 40px;
	width: 40px;
	background: #6dcaf3;
	color: #ffffff;
	box-sizing: border-box;
	text-align: center;
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 10px;
    cursor: pointer;
}

.to-top:after
{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ffffff transparent;
}