/*IFORM START*/
/*CHECKBOXES*/
.sf-ch-wrapper
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.sf-ch-wrapper label, .sf-ch-wrapper label b
{
	font-size: 14px;
	line-height: 13px;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
}

.sf-ch-wrapper label
{
	box-sizing: border-box;
	padding-left: 30px;
	cursor: pointer;
}

.sf-ch-wrapper label.sf-ch-only-checkbox
{
	padding-left: 13px;
}

.sf-ch-disabled .sf-ch-default
{
	background: #f1f0f1;
}

.sf-ch-disabled .sf-ch-default span
{
	color: #777777;
}

.sf-ch-default
{
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #c5c5c5;
	background: #ffffff;
	position: relative;
	vertical-align: middle;
	margin-left: -30px;
	margin-right: 12px;
	margin-top:-2px;
	box-sizing: border-box;
}

.sf-ch-wrapper.error .sf-ch-default
{
	border: 1px solid #cb0000;
}

.sf-ch-wrapper label.sf-ch-only-checkbox .sf-ch-default
{
	margin-left: -13px;
	margin-right: 0;
}

.sf-ch-default span
{
	position: absolute;
	left: 1px;    
	right: 0;
	top: 2px;
	bottom: 0;
	margin: auto;
	width: 22px;
	height: 22px;
	color: #6dcaf3;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	opacity:0;
	margin: auto;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}

.sf-ch-default span:before
{
	content: "\e876"
}

.sf-ch-clicked .sf-ch-default span
{
	opacity: 1;
}


/*RADIOS*/
.sf-r-wrapper
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.sf-r-wrapper label, .sf-r-wrapper label b
{
	font-size: 15px;
	color: #494949;
	font-weight: 400;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
}

.sf-r-wrapper label > img
{
	vertical-align: middle;
}

.sf-r-disabled .sf-r-default
{
	background: #f1f0f1;
}

.sf-r-disabled .sf-r-default span
{
	background: #777777;
}

.sf-r-default
{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #ffffff;
	position: relative;
	vertical-align: middle;
	margin-right: 13px;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	border-radius: 100%;
	border:1px solid #c5c5c5;
	margin-top: -3px;
	box-sizing: border-box;
}

.sf-r-only-radio .sf-r-default
{
	margin-right: 0;
}

.sf-r-wrapper.error .sf-r-default
{
	border:1px solid #cb0000;
}

.sf-r-clicked .sf-r-default span
{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
	bottom: 0;
	top: 0;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	border-radius: 100%; 
	background: #6dcaf3;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	box-sizing: border-box;
}

.sf-r-wrapper
{
	display: inline-block;
	vertical-align: middle;
}

.sf-r-wrapper label, .sf-r-wrapper label b
{
	display: inline-block;
	vertical-align: middle;
	cursor:pointer;
}

/*SELECTS*/
.sf-s-list-wrap-absolute
{
	position: fixed;
	max-width: 100%;
}

.sf-s-wrapper.sf-s-disabled .sf-s-holder,
.sf-s-wrapper.sf-s-disabled .sf-s-multi-holder
{
	background: #f0f0f0;
}

.sf-s-wrapper.f-error
{
	border: 1px solid #cb1111;
}

.sf-s-search-input
{
	border: 1px solid #2f6dc9;
	background: #ffffff;
	border-bottom: none;
	position: absolute;
	top: 0;
	margin: -1px 0 0 -1px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
}

.sf-hide-opacity .sf-s-search-input
{
	display: none;
}

.sf-s-search-input input
{
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 6px 10px;
	margin: 10px auto;
	display: block;
	box-sizing: border-box;
	border-radius: 5px;
	max-width: 100%;
}

.sf-s-no-results
{
	padding: 10px 15px;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sf-s-element-hide
{
	display: none;
}

.sf-s-wrapper
{
	position: relative;
	display: inline-block;
    vertical-align: top;
	max-width: 100%;
}

.sf-s-holder,
.sf-s-wrapper select
{
	position: relative;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #ffffff;
	text-align: left;
	padding: 0 38px 0 12px;
	border: 1px solid #c1c1c1;
/*	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;*/
    font-family: inherit;
}

.sf-s-wrapper select
{
	width: auto;
}

.sf-s-wrapper.f-error .sf-s-holder
{
	border: 1px solid #cb1111;
}

.sf-s-holder:before
{
	content:"";
	display: inline-block;
	width:0;
	height: 37px;
	vertical-align: middle;
}

.sf-s-holder.sf-s-list-open, .sf-s-multi-holder.sf-s-list-open
{
	
/*	Zaokrąglenie listy od dołu jak by było potrzebne.*/
/*	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;*/
	border: 1px solid #2f6dc9;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sf-s-holder.sf-s-list-open:after,
.sf-s-multi-holder.sf-s-list-open:after
{
	content: "";
	position: absolute;
	height:1px;
	bottom: -1px;
	background: #c1c1c1;
	left: 0;
	right: 0;
	z-index: 99;
}

.sf-s-multi-holder.sf-s-list-open:after
{
	bottom: 0;
}

.sf-s-to-top .sf-s-holder.sf-s-list-open:after,
.sf-s-to-top .sf-s-multi-holder.sf-s-list-open:after
{
	bottom: auto;
	top: -1px;
}

.sf-s-to-top .sf-s-multi-holder.sf-s-list-open:after
{
	top: 0;
}


.sf-s-holder .sf-s-selected
{
	color: #505050;
	font-size: 13px;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:0;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	outline: none;
}

.sf-s-holder .sf-s-selected:hover
{
	text-decoration: none;
}

.sf-s-button
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	cursor: pointer;
	text-align: right;
	margin-left: 16px;
	margin-right:-28px;
}

.sf-s-button:after
{
	position:absolute;
	content:"";
	display:block;
	top:0;
	bottom:0;
	margin:auto;
	left:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #878787 transparent transparent transparent;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sf-s-list-open .sf-s-button:after
{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sf-s-click-able
{
	cursor: pointer;
}

.sf-s-list
{
	padding: 0;
	background: #ffffff;
	margin:0;
	margin-top:-1px;
	box-sizing: border-box;
	list-style: none;
	z-index:100;
	border: 1px solid #2f6dc9;
	-webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
	visibility: visible;
	overflow:visible;
	opacity: 1;
	z-index: 98;
	max-width: 100%;
}

.sf-s-list-inner
{
	padding: 0;
	margin:0;
	list-style: none;
}

.sf-s-list-inner.scroll-wrapper
{
	height: 100%;
}

.sf-s-to-top .sf-s-list
{
	margin-top: 0px;
	border-top: 1px solid #2f6dc9;
}

.sf-s-list-formated
{
	min-width: 100%;
}

.sf-s-list-to-right
{
	right: 0;
}

.sf-s-list-formated.input-styled
{
	width: auto;
	min-width: 100%;
}

.sf-s-optgroup-list
{
	list-style: none;
	padding: 0;
	margin:0;
}

.sf-s-optgroup-label
{
	color: #505050;
	padding: 10px 15px;
	font-size: 14px !important;
	font-weight: 500;
	border-bottom: 1px solid #e4e4e4;
}

.sf-s-optgroup > .sf-s-optgroup-list > .sf-s-default
{
	padding-left: 34px
}


.sf-s-list li.sf-s-default
{
	width: 100%;
	color: #505050;
	font-size: 13px;
	box-sizing: border-box;
	padding: 10px 15px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.sf-s-list li.sf-s-default.sf-s-option-disabled,
.sf-s-list li.sf-s-option-disabled.sf-s-hover
{
	color: #c1c1c1;
	background: #ffffff;
	border-bottom: 1px solid #e4e4e4;
}

.sf-s-list li.sf-s-active
{
	color: #ffffff;
	background: #6dcaf3;
	border-bottom: 1px solid #6dcaf3;
}

.sf-s-list li.sf-s-hover
{
	color: #ffffff;
	background: #6dcaf3;
	border-bottom: 1px solid #6dcaf3;
}


.sf-s-list li.sf-s-default:last-child,
.sf-s-list li.sf-s-hover:last-child,
.sf-s-list li.sf-s-active:last-child,
.sf-s-list li.sf-s-default-last-child
{
	border-bottom-color: transparent;
}

.sf-s-list .sf-s-optgroup .sf-s-default:last-child
{
	border-bottom: 1px solid #e4e4e4;
}

.sf-s-list .sf-s-optgroup:last-child .sf-s-default:last-child
{
	border-bottom: none;
}

.sf-s-overflow
{
	overflow-y: scroll;
}

.sf-hide
{
	display: none !important;
}

.sf-hide-opacity
{
	opacity: 0;
	z-index: 0;
	visibility: hidden;
	overflow: hidden;
}

.sf-s-list-wrap-absolute .sf-hide-opacity
{
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
}

.sf-s-list-wrap-absolute.sf-show-visible
{
	overflow:hidden;
	height: 0 !important;
}


.sf-s-list-wrap-absolute.sf-show-visible .sf-s-list
{
	visibility: visible;
	height: auto !important;
}

.sf-s-list-wrap-absolute.sf-show-visible-width .sf-s-list
{
	visibility: visible;
}

.sf-s-wrapper.sf-s-only-sign
{
	width: auto !important;
}

.sf-s-wrapper.sf-s-only-sign .sf-s-holder
{
	height: 25px;
	width: 25px;
	line-height: 20px;
	padding: 0;
	border: none;
	text-align: center;
	/*background: transparent;*/
}

.sf-s-wrapper.sf-s-only-sign .sf-s-holder::before
{
	height: 25px;
}

.sf-s-wrapper.sf-s-only-sign .sf-s-button
{
	display: none;
}

.sf-s-wrapper.sf-s-only-sign .sf-s-list li.sf-s-default,
.sf-s-list-wrap-absolute.sf-s-only-sign .sf-s-list li.sf-s-default
{
	height: 25px;
	width: auto;
	padding: 0 5px;
	line-height: 25px;
	text-align: left;
	text-align: center;
}

.sf-s-list-wrap-absolute.sf-s-only-sign .sf-s-list
{
	margin-top: 1px;
	width: auto;
}

.sf-s-wrapper.sf-s-only-sign .sf-s-holder a
{
	letter-spacing: 5px;
	text-indent: 9px;
}

.sf-s-multi-holder
{
	border: 1px solid #c1c1c1;
	box-sizing: border-box;
	font-size: 0;
	padding: 1px 0;
	min-height: 39px;
}

.sf-s-multi-element
{
	display: inline-block;
	font-size: 13px;
	line-height: 19px;
	padding: 3px 5px;
	margin: 5px;
	border-radius: 3px;
	background: #6dcaf3;
	color: #ffffff;
}

.sf-s-multi-element-remover
{
	margin-right: 2px;
	vertical-align: middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    width: 16px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sf-s-multi-element-remover:hover
{
	color: #333444;
}

.sf-s-multi-element-remover:after
{
	content: "\e5cd";
	height: 16px;
	width: 16px;
	display: inline-block;
}

/*FILE UPLOAD BTN START*/

.sf-file-upload
{
	margin: -5px;
}

.sf-file-upload-btn-wrap
{
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 5px;
	vertical-align: middle;
}

.sf-file-uploader-input
{
	opacity: 0;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
	height: inherit;
	width: inherit;
	max-height: 100%;
	width: 100%;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	cursor: pointer;
}

.sf-file-upload-file-name
{
	margin: 5px;
	vertical-align: middle;
}
/* IFORM - END */